h1 {
    color: red;
}
/* general styling */
* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    overflow: hidden;
}
/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background: burlywood;
    color: darkblue;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #3693ff;
}
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar h2 a {color: #fff;
    text-decoration: none;

}
#navbar li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
}
#navbar li a:hover {
    background-color: #3693ff;
}
/* showcase area */
#showcase {
    background: url(../resume/image.jpeg) no-repeat center center/cover;
}
.showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 81px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(red, green, blue, alpha);
    }
.showcase-content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}
.showcase-content .btn:hover {
background: #3693ff;
color: #fff;
}
.btn {
    color: royalblue;
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    border: 1px solid #3693ff;
    border-radius: 10px;
    font-weight: bold;
}
